.App{
    background-color: var(--maincolor);
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: transparent;
    /* overflow: hidden; */
    
    
}
